## Importing necessary libraries

In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import treebank,stopwords

In [61]:
nltk.download('treebank')
nltk.download('stopwords')

[nltk_data] Downloading package treebank to
[nltk_data]     C:\Users\raoms_y121yee\AppData\Roaming\nltk_data...
[nltk_data]   Package treebank is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\raoms_y121yee\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [30]:
sents = treebank.sents()

### There can always be words which repeat in a corpus. We will only use unique words for analysis

In [58]:
def tokenize(sentence_list):
    res = []
    for s in sentence_list:
        for w in s:
            res.append(w)
    res = list(set(res))
    return res

In [59]:
words = tokenize(sents)
len(words)

12408

## Stop words removal (Optional). Mostly people do not misspell stopwords. For better results you can include it

In [62]:
stop_words = stopwords.words('english')
words = [w for w in words if w not in stop_words]
len(words)

12291

#### Let us import edit distance

In [63]:
from nltk import edit_distance

In [64]:
def give_top_n_suggestions(word,n,corpus=words):
    res = pd.DataFrame()
    res['Words'] = corpus
    res['Distance'] = [edit_distance(word,w) for w in corpus]
    res = res.sort_values(by='Distance')
    return res.iloc[:n,:]

### Lets test the words

In [65]:
suggestions = give_top_n_suggestions("acheive",5)
suggestions

          Words  Distance
140     achieve         2
9571     active         2
9807    acquire         3
9818   achieved         3
11098    scheme         3

In [66]:
give_top_n_suggestions("Actve",5)

        Words  Distance
9571   active         2
11928   Above         2
6104      Act         2
4086     cope         3
226      code         3

In [72]:
give_top_n_suggestions("bnk",5)

      Words  Distance
6776   bank         1
5216   Anku         2
12096   End         2
9095    bar         2
2482   book         2

In [75]:
give_top_n_suggestions("beleive",5)

         Words  Distance
12169  believe         2
11209  receive         2
9840     leave         3
11944   delete         3
1261     alive         3